<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cadastro Cliente</title>
    <!-- Principal CSS do Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilos customizados para esse template -->
    <link href="form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
            <h2>Seja muito bem-vindo ao FindUs</h2>
            <p class="lead">Fale um pouco sobre você</p>
        </div>
        <div class="col-md-8 order-md-1">

            <form class="needs-validation" novalidate action="/salvarusuario" method="POST">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="primeiroNome">Nome completo</label>
                        <input type="text" class="form-control" id="primeiroNome" placeholder="" value="" name="userNome" required >
                        <div class="invalid-feedback">
                            É obrigatório inserir um nome válido.
                        </div>
                    </div>

                </div>

                <div class="mb-3">
                    <label for="cpfcnpj">CPF/CNPJ</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="cpfcnpj" placeholder="" name="userCPF_CNPJ" required >
                        <div class="invalid-feedback" style="width: 100%;">
                            Dado obrigatório.
                        </div>
                    </div>

                    <label for="tel">Telefone</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="tel" placeholder="" name="userTelefone" required>
                        <div class="invalid-feedback" style="width: 100%;">
                            Dado obrigatório.
                        </div>
                    </div>

                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="fulano@exemplo.com" name="userEmail">
                    <div class="invalid-feedback">
                        Por favor, insira um endereço de e-mail válido, para atualizações de entrega.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="Senha">Senha</label>
                    <input type="password" class="form-control" id="Senha" placeholder="" name="userSenha">
                    <div class="invalid-feedback">
                        Por favor, insira uma senha valida.
                    </div>

                    <label for="confirmesenha">Confirme a Senha</label>
                    <input type="password" class="form-control" id="confirmesenha" placeholder="" name="confirmarSenha">
                    <div class="invalid-feedback">
                        Por favor, insira uma senha valida.
                    </div>

                </div>

                <div class="mb-3">
                    <label for="razao-social">Razão Social</label>
                    <input type="text" class="form-control" id="razao-social" placeholder="" name="razaoSocial">
                </div>

                <div class="mb-3">
                    <label for="Segmento">Segmento</label>
                    <input type="text" class="form-control" id="Segmento" placeholder="" name="segmento">
                </div>
                <a href="/">home</a>

        </div>
        <hr class="my-4">
        <input type="submit" value="Continuar">
        </form>

    </div>


<!-- Principal JavaScript do Bootstrap
================================================== -->
<!-- Foi colocado no final para a página carregar mais rápido -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
      // Exemplo de JavaScript para desativar o envio do formulário, se tiver algum campo inválido.
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Selecione todos os campos que nós queremos aplicar estilos Bootstrap de validação customizados.
          var forms = document.getElementsByClassName('needs-validation');

          // Faz um loop neles e previne envio
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
</body>
</html>